.weather-app {
  font-family: "Comic Neue", cursive;
  color: rgb(32, 32, 32);
  border: 10px solid rgb(32, 32, 32);
  max-width: 600px;
  padding: 10px;
  background-image: url("/images/background.jpg");
}

h1,
h2 {
  font-weight: 700;
  line-height: 25px;
}
h2 {
  display: inline;
  font-size: 50px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  padding-top: 5px;
  font-size: small;
}
hr {
  margin-top: 5px;
  border: 1px solid rgb(249, 249, 249);
  opacity: 1;
}

.units {
  position: relative;
  top: -23px;
  font-weight: 700;
}

a:link {
  text-decoration: none;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 20px auto;
}

.border-wrapper {
  border: 5px solid rgb(32, 32, 32);
  padding: 10px;
}

#icon-weather {
  font-size: 100px;
}

#description {
  font-size: 30px;
}

#color1 {
  background-color: rgb(234, 31, 95, 0.9);
}

#color2 {
  background-color: rgb(252, 206, 53, 0.9);
  margin-top: 10px;
}

div#right-sided-information.col-6 {
  text-align: center;

  border: 5px solid rgb(32, 32, 32);
  width: 48%;
  background-color: rgb(3, 169, 245, 0.9);
}

div#left-sided-information.col-6 {
  padding-right: 10px;
}
.date {
  margin-bottom: 5px;
}
